.navbar-expand-lg {
  padding-left: 2%;
  padding-right: 2%;
  .active {
    font-weight: bold;
    pointer-events: none !important;
  }
}
.navbar-collapse {
  justify-content: end;
}
.img-change-mode,
.img-logo {
  height: 37.5px;
  cursor: pointer !important;
}
.collapsing,
.show {
  padding-left: 15px;
}
.nav-item {
  text-align: right;
}
