.pagination {
  .page-item.active .page-link {
    background-color: unset !important;
    color: rgba(40, 87, 2) !important;
    box-shadow: rgba(40, 87, 2, 0.45) 0px 5px 15px !important;
    border: 1px solid rgba(40, 87, 2, 0.45) !important;
    color: rgba(40, 87, 2) !important;
  }
}
