@media (max-width: 1228px) {
  .modal.show .modal-dialog {
    top: 25%;
    .modal-footer {
      display: none;
    }
  }
}
.modal.show .modal-dialog {
  top: 15%;
  .modal-footer {
    display: none;
  }
}
