#home {
  header {
    max-width: 1600px;
    min-width: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
  }
  .w3-display-bottomleft {
    left: 25%;
  }
  .w3-xxlarge {
    color: aliceblue;
    left: 10rem;
  }
}
