.home {
  .slide {
    height: 50vh;
    background-color: rgba(68, 77, 74, 0.514);
  }
  .home-content {
    .img1,
    .img2,
    .img3,
    .img4 {
      height: 50px;
      border: solid 1px;
    }
  }
}
