@mixin stylePosition($top, $left) {
  position: absolute;
  left: $left;
  top: $top;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-$top, -left);
}
.wedding {
  .parallax {
    height: 500px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin: 100%;
    font-size: 100%;
  }
  .parallax__group {
    position: relative;
    height: 500px;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    transform-origin: 100%;
  }
  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(0.7);
    transform: translateZ(90px) scale(0.7);
    z-index: 1;
  }
  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }
  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }
  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #group1 {
    z-index: 5;
    .parallax__layer--base {
      background-position: center;
      background-size: cover;
      //background-image: url(https://www.w3schools.com/w3images/flowers.jpg);
      background-color: #06a;
      .title {
        @include stylePosition(50%, 50%);
        background-color: rgb(0, 126, 73);
        color: #fff;
        padding: 10px;
        opacity: 1;
      }
    }
  }
  #group2 {
    z-index: 3;
    .parallax__layer--base {
      .title {
        @include stylePosition(30%, 30%);
        padding: 10px;
        opacity: 1;
        width: 50%;
      }
    }
    .parallax__layer--none {
      background-position: center;
      background-size: cover;
      //background-image: url(https://www.w3schools.com/w3images/wedding_couple2.jpg);
      background-color: burlywood;
      -webkit-transform: translateZ(-300px) scale(2);
      transform: translateZ(-300px) scale(2);
      z-index: 3;
      .title {
        @include stylePosition(30%, 70%);
        background-color: #a00;
        color: #ccc;
        padding: 10px;
        opacity: 1;
        width: 50%;
      }
    }
  }
  #group3 {
    z-index: 4;
    .parallax__layer--base {
      background-position: center;
      background-size: cover;
      background-color: cadetblue;
      //background-image: url(https://www.w3schools.com/w3images/wedding_couple2.jpg);
      .title {
        background-color: #ccc;
        padding: 10px;
        opacity: 1;
      }
    }
  }
  #group4 {
    z-index: 2;
    .parallax__layer--deep {
      background: rgb(255, 255, 255);
      .title {
        background-color: #06a;
        padding: 10px;
        opacity: 0.8;
        color: #ccc;
      }
    }
    .parallax__layer--base {
      .title {
        color: #a00;
      }
    }
  }
  #group5 {
    z-index: 3;
    .parallax__layer--base {
      background-position: center;
      background-size: cover;
      background-color: darkslategrey;
      //background-image: url(https://www.w3schools.com/w3images/wedding_location.jpg);
      .title {
        color: #ccc;
      }
    }
    .parallax__layer--fore {
      .title {
        background-color: #000000;
        opacity: 1;
        color: #fff;
        padding: 10px;
      }
    }
  }
  #group6 {
    z-index: 2;
    .parallax__layer--back {
      background: rgb(255, 255, 255);
      .title {
        background-color: #06a;
        color: #ccc;
        opacity: 0.8;
        padding: 10px;
      }
    }
  }
  #group7 {
    z-index: 3;
    .parallax__layer--base {
      background-position: center;
      background-size: cover;
      background-color: darkgreen;
      //background-image: url(https://bluerosesandstardust.files.wordpress.com/2013/01/hd3.jpg);
    }
    .title {
      color: #fff;
    }
  }
  .demo__info {
    position: absolute;
    z-index: 100;
    bottom: 1vh;
    top: auto;
    font-size: 80%;
    // text-align: center;
    width: 100%;
  }
}
