@import "~bootstrap/scss/bootstrap";
/* ẩn thanh scrollbar trên Chrome và Safari */
::-webkit-scrollbar {
  display: none;
}
/* ẩn thanh scrollbar trên Firefox */
::-moz-scrollbar {
  display: none;
}

body {
  /* cho phép cuộn trang */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  // perspective: 1px;
  // transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }
}

.bg-light {
  background-color: rgba(194, 204, 204, 0.397);
  .pagination {
    --bs-pagination-focus-box-shadow: none;
    .page-item.active .page-link {
      box-shadow: rgba(40, 87, 2, 0.45) 0px 5px 15px !important;
      border: 1px solid rgba(40, 87, 2, 0.45) !important;
      color: rgba(40, 87, 2) !important;
      background-color: rgba(255, 255, 255, 0.55) !important;
    }
  }
}
.bg-dark {
  $colorDarkText: rgba(255, 255, 255, 0.55) !important;
  $colorWhite: white !important;
  hr {
    color: $colorDarkText;
  }

  p,
  h1,
  h2,
  h4,
  h5,
  h6,
  button,
  span {
    color: $colorDarkText;
  }
  h3 {
    color: $colorWhite;
  }
  .btn-active {
    color: $colorWhite;
  }
  .pagination {
    --bs-pagination-bg: none;
    --bs-pagination-disabled-bg: none;
    --bs-pagination-color: rgba(40, 87, 2) !important;
    --bs-pagination-focus-box-shadow: none;
    .page-item.active .page-link {
      color: $colorWhite;
      background-color: rgba(255, 255, 255, 0.55) !important;
    }
  }
}
.mgTop {
  margin-top: 61.88px;
}
